/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */

 /*BORDERS*/
.front-page {
 	background: #B2FFE1;
 	position: fixed;
 	}

  .about-page {
   	background: #ffb2f7;
   	position: fixed;
   	}

    .contact-page {
     	background: #ffb2f7;
     	position: fixed;
     	}

      .projects-page {
        background:#b2d0ff;
        position: fixed;
      }

      .robot-page {
        background:#B2FFE1;
        position: fixed;
      }

.single-page {
  background:black;
  position:fixed;
}

 	#left, #right {
 		top: 0; bottom: 0;
 		width: 15px;
 		}
 		#left { left: 0; }
 		#right { right: 0; }

 	#top, #bottom {
 		left: 0; right: 0;
 		height: 15px;
 		}
 		#top { top: 0; }
 		#bottom { bottom: 0; }

    @media

  /* Fairly small screens including iphones */
  only screen and (max-width: 500px),

  /* iPads */
  only screen and (min-device-width: 768px) and (max-device-width: 1024px)

  {
  	#top, #bottom, #left, #right { display: none; }
  }


/*NAVIGATION HOVER*/

.home:hover { background-color: black; color: white;
}

/*.projects:hover {background-color: #ffe1b2;
}*/

.contact:hover {background-color: #B2FFE1;}

.projects:hover {background-color: #b2d0ff;}


/*NAVIGATION PADDING*/
.tiptop {
  padding: 2.5rem 3.5rem;
}



.casey {
  border-bottom: 15px solid #B2FFE1;
}




.facts{
  background-color: #ffb2f7;
}


.contactme {
  border: 10px dotted #ffb2f7;
}

.colorone {
  background-color: #B2FFE1;
}

.colortwo {
  background-color: #b2d0ff;
}

.colorthree {
  background-color: #ffe1b2;
}

.colorfour {
  background-color: #ffb2f7;
}

.colorfive {
  background-color: #f7ffb2;
}


/*IMAGE*/

.robo {background: url(/images/beach.jpg);}

.mint {background-color: #B2FFE1;}

.biggie {color: #B2FFE1;}




/*FONT*/

.light {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 300;
}

.book {font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 400;}

.heavy {font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 700;}

.demi {font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 600;}

.medium {font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 500;}
